Note: to see the source of the questions : https://holypython.com/intermediate-python-exercises/exercise-15-python-sorted-function/

In [1]:
# TASK 1: Using sorted() function, sort the list in ascending order.

lst1=[500, 1000, 400, 40000, 999, 2, 0.5, 17]

#Type your answer below.

lst2= sorted(lst1)
lst2

[0.5, 2, 17, 400, 500, 999, 1000, 40000]

In [2]:
# TASK 2: Using sorted() function, sort the list from a to z.


lst1=["zebra", "bird", "ant", "porcupine", "giraffe"]

#Type your answer below.

lst2 = sorted(lst1)

lst2

['ant', 'bird', 'giraffe', 'porcupine', 'zebra']

In [3]:
# TASK 3: Using sorted() function sort the list from z to a.

lst1=["zebra", "bird", "ant", "porcupine", "giraffe"]
#Type your answer below.

lst2 = sorted(lst1, reverse = True)
lst2

['zebra', 'porcupine', 'giraffe', 'bird', 'ant']

In [4]:
# Or we can solve it by simply list slicing.
lst1=["zebra", "bird", "ant", "porcupine", "giraffe"]
lst2 = sorted(lst1)[::-1]
lst2

['zebra', 'porcupine', 'giraffe', 'bird', 'ant']

In [5]:
# TASK 4: Using sorted() function sort the list in descending order.

lst1=[500, 1000, 400, 40000, 999, 2, 0.5, 17]
#Type your answer below.

lst2 = sorted(lst1, reverse = True)
lst2

[40000, 1000, 999, 500, 400, 17, 2, 0.5]

In [6]:
# Or we can solve it by simply list slicing.
lst1=[500, 1000, 400, 40000, 999, 2, 0.5, 17]
lst2 = sorted(lst1)[::-1]
lst2

[40000, 1000, 999, 500, 400, 17, 2, 0.5]

In [7]:
# TASK 5: Using len function and sorted() function, sort the list based on the length of the strings (In ascending order).

lakes1=["Malawi", "Medicine", "Tahoe", "Moraine", "Upper Arrow", "Plitvice", "Edith", "Emerald"]
#Type your answer below.

sorted_lakes = sorted(lakes1, key = len)
sorted_lakes

['Tahoe',
 'Edith',
 'Malawi',
 'Moraine',
 'Emerald',
 'Medicine',
 'Plitvice',
 'Upper Arrow']

In [17]:
# TASK 6:Using len function and sorted() function, sort the list based on the length of the strings 
# this time in descending order..

lakes1=["Malawi", "Medicine", "Tahoe", "Moraine", "Upper Arrow", "Plitvice", "Edith", "Emerald"]
#Type your answer below.

sorted_lakes = sorted(lakes1, reverse = True, key = len)
sorted_lakes

['Upper Arrow',
 'Medicine',
 'Plitvice',
 'Moraine',
 'Emerald',
 'Malawi',
 'Tahoe',
 'Edith']

In [22]:
# TASK 7: Using lambda and sorted() function, sort the list based on last characters of the items from z to a.

lakes1=["Malawi", "Medicine", "Tahoe", "Moraine", "Upper Arrow", "Plitvice", "Edith", "Emerald"]
#Type your answer below.

lakes2 = sorted(lakes1, key = lambda x: x[-1], reverse = True)
lakes2

['Upper Arrow',
 'Malawi',
 'Edith',
 'Medicine',
 'Tahoe',
 'Moraine',
 'Plitvice',
 'Emerald']

In [40]:
# TASK 8: Using lambda and sorted() function, sort the list based on the remainder 
# from dividing each element to 5 (From greater to smaller).

lst1=[1000, 50, 66, 101, 333, 9999, 19, 300, 200, 250]
#Type your answer below.

newlist = sorted(lst1, key= lambda x: x%5, reverse = True)
print(newlist)

[9999, 19, 333, 66, 101, 1000, 50, 300, 200, 250]