# List exercises

Source: https://holypython.com/beginner-python-exercises/exercise-6-python-lists/

TASK 1: Assign the first element of the list to answer_1 on line 2

In [1]:
lst=[11, 100, 99, 1000, 999]


answer_1= lst[0]
print(answer_1)

11

TASK 2: And let's print the second element directly inside print function.

This time print the second element of the list directly on line 3. You should get 100.

In [2]:
print(lst[1])

100

TASK 3: Print the last element of the list through variable answer_1.

In [3]:
answer_1 = lst[-1]
answer_1

999

TASK 4: On line 3, add the string "pajamas" to the list with .append() method.

In [5]:
gift_list=['socks', '4K drone', 'wine', 'jam']


gift_list.append("pajamas")
gift_list

['socks', '4K drone', 'wine', 'jam', 'pajamas']

TASK 5:
    
Lists can hold many type of data inside them. You can even add another list to a list as its element. This is called nested data in Python.

This time add the sub-list: ["socks", "tshirt", "pajamas"] to the end of the gift_list.

In [6]:
gift_list=['socks', '4K drone', 'wine', 'jam']

gift_list.append(["socks", "tshirt", "pajamas"])

gift_list

['socks', '4K drone', 'wine', 'jam', ['socks', 'tshirt', 'pajamas']]

TASK 6: 
    
.insert() lets you specify the index you want to add your item.

This time insert "slippers" to index 3 of gift_list.

In [8]:
gift_list=['socks', '4K drone', 'wine', 'jam']

gift_list.insert(3, "slippers")
gift_list

['socks', '4K drone', 'wine', 'slippers', 'jam']

TASK 7: With .index() method you can learn the index number of an item inside your list. Assign the index no of 8679 to the variable answer_1.

In [9]:
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]

answer_1 = lst.index(8679)
answer_1

8

TASK 8: Using .append() method, add a new list to the end of the list which contains strings: "Navigator" and "Suburban".

In [10]:
lst=["CRV", "Outback", "XC90", "GL", "Cherokee", "Escalade"]

lst.append(["Navigator", "Suburban"])

lst

['CRV',
 'Outback',
 'XC90',
 'GL',
 'Cherokee',
 'Escalade',
 ['Navigator', 'Suburban']]

**remove()method: removing the last item**

TASK 9: Using .remove() method, clear the last element of the list.

In [14]:
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]

lst.remove(99)
lst

[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123]

TASK 10: Using .reverse() method, reverse the list.

In [15]:
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]

lst.reverse()
lst

[99, 123, 8679, 2, 1, 101, 76, 6, 54, 777, 55]

In [18]:
# or we can use reversed function. But it creates an on the air object. So we should use ways such as, list(), 0, for loop to call its elements

lst = [1,2,3]
print(*reversed(lst))

3 2 1

TASK 11: Using .count() method, count how many times 6 occur in the list.

In [20]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

print(lst.count(6))
# or we can assignt it to a variable

count_6 = lst.count(6)
print(count_6)

4
4

TASK 11: we can add up al the elements in alist with sum()

What is the sum of all the numbers in the list?

In [22]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

print(sum(lst))

# or we can assignt it to a variable

sum_lst = sum(lst)
print(sum_lst)

1090
1090

TASK 12: Max Function to Get the Highest Value in a List and Min function for the lowest one

What is the minimum value in the list?

In [25]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

print(max(lst))

# or we can assignt it to a variable

max_lst = max(lst)
print(max_lst)

777
777

In [26]:
print(min(lst))
# or
min_lst = min(lst)
print(min_lst)

1
1