# Basic Lambda Practices

In [1]:
# TASK1: Add 10 to argument a, and return the result:

# let's say a = 5
(lambda a: a+10)(5)

15

In [2]:
# or we can assign it first to a variable and then print

add_10 = lambda a: a+10

print(add_10(5))

15

In [3]:
# or
add_10(5)

15

In [4]:
# TASK 2: lambda functions can take any number of arguments

# Multiply argument a with argument b and return the result:

In [5]:
(lambda a,b: a*b)(4,5)

20

In [6]:
# or
multiply = lambda a,b: a*b
multiply(4,5)

20

In [7]:
# another example about multiple variables: Summarize argument a, b, and c and return the result:

(lambda a,b,c: a+b+c)(4,5,6)

15

In [8]:
#or
summarize = lambda a,b,c: a+b+c
print(summarize(4,5,6))

15

In [30]:
str1 = 'todayistheday'
 
reversed_upper = lambda x: x.upper()[::-1]

print(reversed_upper(str1))

YADEHTSIYADOT

In [29]:
# or:
str1 = 'TodayIsTheDay'
 
reversed_upper = lambda str1: str1.upper()[::-1]
print(reversed_upper(str1))

YADEHTSIYADOT

In [38]:
# Using lambda in list comprehension

is_even_list = [lambda i=x: i * 10 for x in range(1, 5)]

# iterate on each lambda function and invoke the function to get the calculated value
for i in is_even_list:
	print(i())

10
20
30
40

In [39]:
# Example of lambda function using if-else
Max = lambda x, y : x if(x > y) else y
 
print(Max(10, 11))

11

In [40]:
# lambda with filter()
lst = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
final_list = list(filter(lambda x: x % 2, lst))
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [41]:
# map() with lambda()
# to get double of a list.
lst = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
final_list = list(map(lambda x: x*2, lst))
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

Using lambda in a function:

TASK: Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [19]:
def argu(n):
    return lambda x: x*n

my_multiply = argu(2)
print(my_multiply(2))
print(my_multiply(3))
print(my_multiply(4))

4
6
8

Or, use the same function definition to make a function that always triples the number you send in:

In [18]:
def argu(n):
    return lambda x: x*n

my_triple = argu(3)
print(my_triple(2))

6

Or, use the same function definition to make both functions, in the same program:

In [22]:
def argu(n):
    return lambda x: x*n

my_multiply = argu(2)
print(my_multiply(10))

my_triples = argu(3)
print(my_triples(10))

20
30