# Practice - Tuple

Source: https://holypython.com/beginner-python-exercises/exercise-7-python-tuples/

TASK 1: Assign the first element of the tuple to answer_1

In [2]:
tt=(11, 100, 99, 1000, 999)

answer_1 = tt[0]
answer_1

11

TASK 2: print the third element of the tuple

In [3]:
print(tt[2])

99

TASK 3: Print the second from the last element of the tuple.

In [6]:
print(tt[-2])

# or we can assignt it to a variable and then print

ele_tt = tt[-2]
print(ele_tt)

1000
1000

TASK 4: What's the index of 2?

In [7]:
tt=(55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99)

print(tt.index(2))

7

TASK 5: How many times does 777 occur?

In [9]:
tt=(55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)

tt.count(777)

2

TASK 6: What is the sum of all the numbers in the tuple?

In [10]:
tt=(42, 1092, 11, 88, 65, 2, 6)

sum(tt)

1306

TASK 7: What is the minimum value in the tuple?

In [11]:
tt=(66, 555, 11, 101, 9, 1001)

min(tt)

9

TASK 8: What is the maximum value in the tuple?

In [12]:
tt=(66, 555, 11, 101, 9, 1001)

max(tt)

1001

TASK 9: what is the result of difference of maximum and minimum values in tt?

In [13]:
max(tt)-min(tt)

992

In [14]:
# what is the mean of sum of max and min in tt

(max(tt)+min(tt))/2

505.0